
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none;
    box-shadow: none;
    webkit-box-shadow: none;
    display: inline-block;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
}

.navbar-brand, .navbar-nav > li > a {
    text-shadow: none;
}

.navbar {
    min-height: 60px;
    background-color: #212121;
}

.spaced-text {
    line-height: 1.8em;
}

.vpadding30 {
    padding: 30px 0;
}

.navbar-brand {

}

.navbar-nav > li {
    margin: 10px;
}

.navbar-nav > li > a {
    padding: 5px;
}

.btn-login {
    border: 2px solid #fff;
}

.btn-login:hover {
    border: 2px solid #999;
}

.navbar-inverse .navbar-nav > li.btn-login > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li.btn-login > a:hover {
    color: #999;
}

.btn-register {
    background-color: darkorange;
    border: 2px solid darkorange;

}

.btn-wide {
    padding: 5px 25px;
}

.btn-register:hover {
    background-color: #ffa639;
    border: 2px solid #ffa639;
}

.navbar-inverse .navbar-nav > li.btn-register > a {
    color: #000;
}

.brand-emphasis {
    color: #008cff;
    /*background-color: #111;*/
    /*padding: 10px;*/
    font-size:1.3em;
}

.brand-logo {
    color: #008cff;
}

.bg-light-grey {
    background-color: #e5e5e5;
}

.bg-dark {
    background-color: #212121;
    color: #fff;
}

.vpadded-row {
    padding: 75px 0;
}


div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.page-header {
margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

footer {
    border-top:  1px solid #ccc;
    padding: 30px 0 60px 0;
}

.well {
 background-image: none;
}
